<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Django Event Planner</title>
    <link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">

    <style>
        html {
          position: relative;
          min-height: 100%;
        }
        body {
          margin-bottom: 60px;
        }
        .jumbotron{
            background-color: wh;
        }
        .messages{
            position: absolute;
            margin-top: 67px;
            z-index: 10;
            width: 100%;
        }
        .footer{
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    </style>
  </head>

  <body>
    {% include "navbar.html" %}
    {% include "messages.html" %}

    {% block content %}

    {% endblock %}

<br>
<br>

<footer id="footer">
  <div class="inner">
    <div class="flex flex-3">
      <div class="col">
        <h3>Concerts</h3>
        <ul class="alt">
          <li><a href="#">Riyadh</a></li>
          <li><a href="#">Jeddah</a></li>
          <li><a href="#">Kuwait</a></li>
          <li><a href="#">London</a></li>
        </ul>
      </div>
      <div class="col">
        <h3>Anime conventions</h3>
        <ul class="alt">
          <li><a href="#">Dubai</a></li>
          <li><a href="#">Riyadh</a></li>
          <li><a href="#">Damam</a></li>
          <li><a href="#">Jeddah</a></li>
        </ul>
      </div>
      <div class="col">
        <h3>Events</h3>
        <ul class="alt">
          <li><a href="#">Riyadh</a></li>
          <li><a href="#">London</a></li>
          <li><a href="#">Amestrdam</a></li>
          <li><a href="#">Jeddah</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copyright">
    <ul class="icons">
      <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
      <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
      <li><a href="#" class="icon fa-snapchat"><span class="label">Snapchat</span></a></li>
    </ul>
  </a>.
  </div>
</footer>

    <script src="{%static "assets/js/jquery.min.js"%}"></script>
    <script src="{%static "assets/js/jquery.scrolly.min.js"%}"></script>
    <script src="{%static "assets/js/skel.min.js"%}"></script>
    <script src="{%static "assets/js/util.js"%}"></script>
    <script src="{%static "assets/js/main.js"%}"></script>

  </body>
</html>
