
{% extends "base.html" %}

{% block content %}
<div class="row">
	{% for event in events %}
<div class="col-sm-4">
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Name: {{event.name}}</h5>
			<p class="card-text">description: {{event.description}}</p>
			<p class="card-text">seats: {{event.seats}}</p>
			<a href="{{event.get_absolute_url}}" class="btn" style="background-color: #e3f2fd; color: black;">View</a>
		</div>
	</div>
</div>
	{% endfor %}
</div>

{% endblock content %}
